<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="Smart_Tools.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Smart_Tools.WPF.Properties.Settings>
      <setting name="AccountExists" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EncryptedUsername" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PasswordHash" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PasswordSalt" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SecretQuestion" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SecretAnswerHash" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SecretAnswerSalt" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FailedAttempts" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LockoutUntilUtc" serializeAs="String">
        <value>0001-01-01T00:00:00</value>
      </setting>
    </Smart_Tools.WPF.Properties.Settings>
  </userSettings>
</configuration>
